root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = false
indent_brace_style = 1tbs
quote_type = double
curly_bracket_next_line = false
spaces_around_operators = true

[*.{js}]
trim_trailing_whitespace = true
spaces_around_brackets = both
